<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
    </head>
    <body>
        {{> header}}
        <p>Don't be so curious</p>
        {{> footer}}
    </body>
</html>